<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
	  <%= link_to( image_tag( Song.last.art, :alt => "Album Art", :size => "36x36" ), song_art_url) %>
	  <%= link_to "#{Song.last.title} by #{Song.last.artist} on #{Song.last.album}", Song.last.detail %>
	  <%= if Song.last.rating == 1
		  "<3"
		  end %>
        <ul class="nav pull-right">
          <li><%= link_to image_tag("media-playback-pause-5.png", alt: "Pause"), song_pause_url, method: "post" %></li>
          <li><%= link_to image_tag("media-skip-forward-5.png", alt: "Skip"), song_skip_url, method: "post" %></li>
          <li><%= link_to image_tag("audio-volume-low-2.png", alt: "Lower Volume"), song_voldown_url, method: "post" %></li>
          <li><%= link_to image_tag("audio-volume-high-2.png", alt: "Raise Volume"), song_volup_url, method: "post" %></li>
          <li><%= link_to image_tag("face-smile-3.png", alt: "Like"), song_like_url, method: "post" %></li>
          <li><%= link_to image_tag("face-sad-3.png", alt: "Dislike"), song_dislike_url, method: "post" %></li>
          <li><%= link_to image_tag("format-justify-fill-5.png", alt: "Stations"), stations_url %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
