<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
	  <% cursong = Song.last %>
	  <%= link_to( image_tag( cursong.art, :alt => "Album Art", :size => "36x36" ), song_art_url) %>
	  <%= link_to "#{cursong.title} by #{cursong.artist} on #{cursong.album}", cursong.detail %>
	  <% if nil != cursong.station && !cursong.station.empty? %>
	    Station:
	    <%= link_to "#{cursong.station}", play_url(Station.find_by_name(cursong.station)) %>
	  <% end %>
	  <% if cursong.rating == 1 %>
		  <3
	  <% end %>
	  <br />
        <ul class="nav pull-right">
          <li><%= link_to image_tag("media-playback-start-5.png", title: "Start", alt: "Start"), song_start_url, method: "post" %></li>
          <li><%= link_to image_tag("media-playback-pause-5.png", title: "Pause", alt: "Pause"), song_pause_url, method: "post" %></li>
          <li><%= link_to image_tag("media-skip-forward-5.png", title: "Skip", alt: "Skip"), song_skip_url, method: "post" %></li>
          <li><%= link_to image_tag("audio-volume-low-2.png", title: "Lower Volume", alt: "Lower Volume"), song_voldown_url, method: "post" %></li>
          <li><%= link_to image_tag("audio-volume-high-2.png", title: "Raise Volume", alt: "Raise Volume"), song_volup_url, method: "post" %></li>
          <li><%= link_to image_tag("face-smile-3.png", title: "Like Song", alt: "Like Song"), song_like_url, method: "post" %></li>
          <li><%= link_to image_tag("face-plain-2.png", title: "Tired of Song", alt: "Tired of Song"), song_tired_url, method: "post" %></li>
          <li><%= link_to image_tag("face-sad-3.png", title: "Dislike Song", alt: "Dislike Song"), song_dislike_url, method: "post" %></li>
          <li><%= link_to image_tag("bookmark-new-4.png", title: "Bookmark Song", alt: "Bookmark Song"), song_bookmarksong_url, method: "post" %></li>
          <li><%= link_to image_tag("format-justify-fill-5.png", title: "Station List", alt: "Station List"), stations_url %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
