<!DOCTYPE html>
<html lang="en">
  <head>
	<title>Pianobar Control Server<%= yield(:title) %></title>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="screen" rel="stylesheet">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-glyphicons.css" rel="stylesheet">
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
  </head>
  <body style="">
	<%= render 'layouts/header' %>
	<div class="container-fluid">
	  <div class="row">
		<%= render 'layouts/left_column' %>
		<div class="col-xs-11 col-xs-offset-1 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		  <%= yield %>
		  <%= debug(params) if Rails.env.development? %>
		</div>
	  </div>
	</div>
  </body>
</html>
